.static {
    z-index: 1;
    position: relative;
    left: 10%;
    padding: 50px;
}

.inform {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(10, 10, 21, 0.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 -4px 8px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
}