.slider {
    width: 50%;
    height: auto;
    display: block;
    margin-top: 30px;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.slider video {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 10;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: white;
    opacity: 0.75;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slider {
    position: relative;
    top: 10%;
}

