{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link href="{% static 'main/css/style.css' %}" rel="stylesheet">
<title>Allways</title>
{% endblock%}

{% block content %}
<main class="vh-100 w-100 m-0" style="background-image: url({% static 'main/images/happy.jpg' %});
 background-size: cover;

">

    <div class="slider container">
        <div><video controls="controls"><source src="{% static 'main/images/video_1.MOV' %}"></video></div>
        <div><video controls="controls"><source src="{% static 'main/images/video_2.MOV' %}"></video></div>

    </div>



</main>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>$('.slider').slick({
        dots:true,
        arrows:true
      });
</script>
{% endblock %}